@use '../../assets/scss/abstract/mixins' as *;

.account-metrix {
  background-color: transparent !important;
  margin-bottom: 20px;

  .header-section {
    border-radius: 8px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    background: var(--card-bg);
    gap: 20px;
    .title {
      display: flex;
      align-items: center;
      gap: 8px;
      color: white;
      font-weight: 600;

      .title-icon {
        color: var(--theme-purple);
      }
    }

  }

  .button-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .MuiButton-root {
      border-color: var(--text-gray);
      color: #fff;
      font-size: 14px;
      padding: 6px 20px;
      text-transform: capitalize;
      font-family: 'poppins';
      font-weight: 600;
      @include media_768 {
        font-size: 12px;
        padding: 6px 10px;

      }

      &:hover {
        border-color: var(--theme-purple);
        background-color: rgba(79, 209, 199, 0.1);
      }
    }
  }

}