.billing-wrapped {
    .dark-card {
        padding: 0;

        .tabs-content {
            padding: 0;
        }

        .card-header {
            padding: 15px;
            border-bottom: 1px solid var(--border-color);
            display: flex;
            gap: 10px;
            align-items: center;

            h1 {
                font-size: 20px;
                line-height: 28px;
                font-weight: 600;
                margin: 0;
            }
        }
    }

    .data-table {
        overflow-x: auto;

        margin-bottom: 20px;
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: var(--card-bg);

            th,
            td {
                padding: 12px 15px;
                text-align: left;
                border-bottom: 1px solid var(--border-color);
                font-size: 14px;

                @media (max-width: 525px) {
                    padding: 10px;
                    font-size: 12px;
                }

                .download-btn {
                    background-color: transparent;
                    border: none;

                    .MuiSelect-icon {
                        color: white !important;
                    }
                }
            }

            th {
                color: var(--slate-color);
                font-weight: 600;
            }

            tr:nth-child(even) {
                background-color: var(--table-row-even-bg);
            }

            tr:hover {
                background-color: var(--table-row-hover-bg);
            }
        }
    }
}