.about-us-page {
    .about-us-section {
        padding: 50px 0;

        .two-section {
            display: flex;
            flex-wrap: wrap;
            gap: 50px;

            @media (max-width: 768px) {
                flex-direction: column;
            }

            .image {
                flex: 1;
                min-width: 300px;

                img {
                    width: 100%;
                    height: auto;
                    border-radius: 10px;
                    height: 100%;
                    object-fit: cover;
                    z-index: 99;
                    position: relative;
                    max-height: 450px;
                }
            }

            .content {
                flex: 1;
                min-width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h2 {
                    color: #fff;
                    font-size: 40px;
                    font-weight: 600;
                    line-height: 50px;
                    margin-bottom: 30px;
                }

                p,li {
                    font-size: 14px;
                    line-height: 1.6;
                    margin-bottom: 15px;
                    color: var(--slate-color);
                    letter-spacing: .05em;
                }
            }
        }
    }
}